<!-- src/app/app.component.html -->

<div class="app-container">
  <nav>
    <ul>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/add-transaction" routerLinkActive="active">Add Transaction</a></li>
      <li><a routerLink="/view-transactions" routerLinkActive="active">View Transactions</a></li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
</div>
